.wide-as-needed {
  white-space: nowrap;
}
.scroll {
  min-width: 100%;
}
.bar.bar-loading {
  display: block;
  height: 24px;

  /* starts right below a normal header */
  top: 44px;

  /* make the text centered vertically and horizontally */
  text-align: center;
  padding: 0;
  line-height: 24px;

  /* transition 'sliding down' (check below)*/
  -webkit-transition: 200ms all;
}


/*
 * make the content's top changes animate.
 * might not always look good, but looks
 * good when our loader is added & removed
 */
.has-header {
  -webkit-transition: 200ms top;
}
.has-header.has-loading {
  /* 44px (header) + 24px */
  top: 68px;
}

.bar-loading.ng-enter.ng-enter-active,
.bar-loading.ng-leave {
  height: 24px;
  border-width: 1px;
}
.image-list-thumb {
  padding: 2px 2px 2px 2px;
  height: 150px;
}

.image-modal {
  width: 100% !important;
  height: 100%;
  top: 100% !important;
  left: 100% !important;
  display: block;
  position: relative;
}


.modals {
  display: block;
  position: absolute;
  top: 60px;
  z-index: 10;
  overflow: hidden;
  min-height: 100%;
  width: 10px;
  background-color: red;
}


.transparent {
  background: rgba(0,0,0,0.7);
}

.slider {
  width: 100%;
  height: 100%;
}

.image {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center, center;
}

.wrapper {
  margin: auto;
  height: 100%;
  width: 90%;
  max-width: 100%;
  border: 0.1em solid rgb(0,0,0);
  border-radius: 1em;

  overflow: hidden;
  background-size: cover;
  background-position: center center;
}
